* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: H;
  src: url("../public//Heading.ttf");
}

.header {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://ik.imagekit.io/evuf2rglq/2b?updatedAt=1765796177167");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  .content {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;

    img {
      width: 20%;
    }

    h1 {
      font-family: H;
    }
  }
}

@media (max-width:500px) {
  .header {
    .content {
      img {
        width: 80%;
      }
    }
  }
}

.countdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.time-box {
  margin: 10px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1px;
}